<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SIMS</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/button.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/side-bar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SIMS.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <button class="navbar-toggler"
                        type="button"
                        aria-label="Toggle sidebar"
                        id="sidebarToggle">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    SIMS
                </a>             
            </div>
        </nav>
    </header>

    <div class="container-fluid" style="">
        <div class="row">
            <!-- LEFT SIDEBAR -->
            @await Component.InvokeAsync("Sidebar")

            <!-- MAIN CONTENT -->
            <main role="main"
                  class="col"
                  style="transition: margin-left 0.2s ease;"
                  id="mainContent">

                <div class="main-container p-3 mt-3 mb-3"
                     style="border-radius: 8px; background: #fff;height: calc(100vh - 90px);">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/8cd6ef2ff8.js"
            crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/side-bar.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
