
<header>
    <nav class="navbar navbar-light bg-white border-bottom box-shadow">
        <div class="container ps-3 m-0 justify-content-start">
            <i class="fa-regular fa-compass navbar-toggler"
               aria-label="Toggle sidebar"
               id="sidebarToggle"></i>

            <a class="navbar-brand ms-4"
               asp-area="" asp-controller="Home" asp-action="Index">
                SIMS
            </a>
        </div>
    </nav>
</header>
