
@{
	ViewData["Title"] = "Wiki";
}

<div>
    <h1 class="display-4">Wiki</h1>
    <p>This page contain all shared components</p>
</div>
<div class="demo-btn">
    <button asp-btn="primary" type="button">primary</button>
    <button asp-btn="secondary" type="button">secondary</button>
    <button asp-btn="warning" type="button">warning</button>
    <button asp-btn="success" type="button">success</button>
    <button asp-btn="pending" type="button">pending</button>

</div>
