html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .sidebar {
        display: none;
    }
}

html, body {
    height: 100%;
    margin: 0;
    background-color: transparent;
}

body {
    overflow: hidden;
    background-image: url('/images/picture/back-ground.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
