@model IEnumerable<SIMS.ViewModels.SidebarItem>

<aside class="sidebar d-flex flex-column align-items-center" id="sidebarContent">
    <nav class="nav flex-column">
        @foreach (var item in Model)
        {
            <a class="nav-link text-dark ps-0 pe-0 text-center@(item.IsActive ? " active" : "")"
               asp-area="" asp-controller="@item.Controller" asp-action="@item.Action">
                <i class="@item.IconClass"></i>
                <span class="link-text">@item.Title</span>
            </a>
        }
    </nav>
</aside>
